%table.table
  %thead
    %tr
      %th Name
      %th Due date
      %th Submitted solution
      %th Test cases
      - if current_user.admin?
        %th
  %tbody
    - problems.each do |problem|
      %tr
        %td= link_to problem.name, cs_class_problem_path(@cs_class, problem)
        %td= problem.due_date
        - solution_state = solutions[problem.id]
        - if solution_state.nil?
          %td None
          %td None
        - else
          %td= link_to solution_state.solution.id, cs_class_problem_solution_path(@cs_class, problem, solution_state.solution)
          %td= solution_state.test_cases_ratio
        - if current_user.admin? and not problem.visible?
          %td= link_to 'Make visible', cs_class_problem_make_visible_path(@cs_class, problem), class: 'btn btn-success'
