%ul.breadcrumb
  %li
    = link_to 'Home', root_path
    %span.divider /
  %li
    = link_to 'Classes', cs_classes_path
    %span.divider /
  %li
    = link_to @cs_class.name, cs_class_path(@cs_class)
    %span.divider /
  %li.active New problem

= render 'form'

= link_to 'Back', cs_class_problems_path(@cs_class)
