%ul.breadcrumb
  %li
    = link_to 'Home', root_path
    %span.divider /
  %li.active All solutions

%table.table
  %thead
    %tr
      %th Problem
      %th Solution
      %th Test cases
  %tbody
    - @solutions.each do |solution|
      %tr
        %td= link_to solution.problem.name, cs_class_problem_path(solution.problem.cs_class, solution.problem)
        %td= link_to "Solution #{solution.id}", cs_class_problem_solution_path(solution.problem.cs_class, solution.problem, solution)
        %td= "#{solution.test_cases_passed} / #{solution.problem.test_cases.count}"
