%table.table
  %thead
    %tr
      %th Name
      %th Due date
      %th # solutions
      %th # correct
      %th Avg cases
      %th Success rate
      %th
      %th
  %tbody
    - problems.each do |problem|
      %tr
        %td= link_to problem.name, cs_class_problem_path(cs_class, problem)
        %td= problem.due_date_display
        %td= problem.number_of_solutions
        %td= problem.number_of_correct_solutions
        %td= "#{number_with_precision(problem.average_test_cases, precision: 2)} / #{problem.test_cases.count}"
        %td= "#{number_with_precision(problem.success_rate, precision: 2)}%"
        %td= link_to 'Solutions', cs_class_problem_solutions_path(cs_class, problem)
        %td
          = link_to 'Edit', edit_cs_class_problem_path(cs_class, problem), class: 'btn'
          = link_to 'Delete', cs_class_problem_path(cs_class, problem), method: :delete, class: 'btn btn-danger'
