%table.table
  %thead
    %tr
      %th Name
      %th Due date
      %th Attempts
      %th Best try
      %th Best solution
  %tbody
    - problems.each do |problem|
      %tr
        %td= link_to problem.name, cs_class_problem_path(cs_class, problem)
        %td= problem.due_date_display
        %td= problem.attempts(current_user)
        %td= problem.best_try(current_user)
        - if problem.user_solution_state(current_user).nil?
          %td None
        - else
          %td= link_to 'View', cs_class_problem_solution_path(cs_class, problem, problem.best_solution(current_user))
