= render 'shared/breadcrumbs', mode: :show, depth: :test_case, cs_class: @cs_class, problem: @problem, test_case: @test_case

%h2 Input:
%p
%pre
  - @input_lines.each do |line|
    - if line == '...'
      = link_to line, @test_case.input.url
    - else
      = line
%p
%h2 Output:
%p
%pre
  - @output_lines.each do |line|
    - if line == '...'
      = link_to line, @test_case.output.url
    - else
      = line
