%ul.breadcrumb
  %li
    = link_to 'Home', root_path
    %span.divider /
  %li
    = link_to 'Classes', cs_classes_path
    %span.divider /
  %li
    = link_to @cs_class.name, cs_class_path(@cs_class)
    %span.divider /
  %li
    = link_to 'Problems', cs_class_problems_path(@cs_class)
    %span.divider /
  %li
    = link_to @problem.name, cs_class_problem_path(@cs_class, @problem)
    %span.divider /
  %li
    = link_to 'Test cases', cs_class_problem_test_cases_path(@cs_class, @problem)
    %span.divider /
  %li.active= "Test case #{@test_case.id}"

%h2 Input:
%p
%pre
  - @input_lines.each do |line|
    - if line == '...'
      = link_to line, @test_case.input.url
    - else
      = line
%p
%h2 Output:
%p
%pre
  - @output_lines.each do |line|
    - if line == '...'
      = link_to line, @test_case.output.url
    - else
      = line
