= render 'shared/breadcrumbs', mode: :index, depth: :solution, cs_class: @cs_class, problem: @problem

%table.table
  %tr
    %th ID
    %th Time
    %th Test cases

  - @solutions.each do |solution|
    %tr
      %td= link_to solution.id, cs_class_problem_solution_path(@cs_class, @problem, solution)
      %td= solution.created_at
      %td= "#{solution.test_cases_passed} / #{@test_cases_count}"

%br

= link_to 'Submit again', cs_class_problem_path(@cs_class, @problem), class: 'btn btn-success'
