= render 'shared/breadcrumbs', mode: :show, depth: :solution, cs_class: @cs_class, problem: @problem, solution: @solution

.center
  %b STATUS:

  - if @solution.tested?
    - if @solution.validated?
      Validated
    - else
      = "Passed: #{@solution.test_cases_passed} out of #{@problem.test_cases.count}"
  - else
    Has not been tested.
  - unless @user.nil?
    %p
    = "Belongs to #{@user.email}"
  %p
  = link_to 'Download code', @solution.file.url, class: 'btn btn-success'

%p

%pre= @solution.comments

%p

%pre.prettyprint.linenums
  - File.open(@solution.file.path, "r").each_line do |line|
    = line
